*.pyc
__pycache__
.DS_Store
/assetpacks/*
!/assetpacks/example_isometric/
!/assetpacks/example_isometric/*
!/assetpacks/example_isometric/**/*
!/assetpacks/low_res_isometric/
!/assetpacks/low_res_isometric/*
!/assetpacks/low_res_isometric/**/*
