/assetpacks/*
!/assetpacks/example_isometric/
!/assetpacks/example_isometric/*
!/assetpacks/example_isometric/**/*
!/assetpacks/example_top_down/
!/assetpacks/example_top_down/*
!/assetpacks/example_top_down/**/*
!/assetpacks/low_res_isometric/
!/assetpacks/low_res_isometric/*
!/assetpacks/low_res_isometric/**/*
!/assetpacks/example_props/
!/assetpacks/example_props/*
!/assetpacks/example_props/**/*
!/assetpacks/example_top_down_props/
!/assetpacks/example_top_down_props/*
!/assetpacks/example_top_down_props/**/*
!/assetpacks/example_json_fail/
!/assetpacks/example_json_fail/*
!/assetpacks/example_json_fail/**/*
/htmlcov/*
/blueprints/*
!/blueprints/examples/
!/blueprints/examples/*
!/blueprints/examples/**/*
*.pyc
__pycache__
.DS_Store
.coverage
